!!!
%html
  %head
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet" }
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css", media: "screen,projection", rel: "stylesheet", type: "text/css" }
    %link{ href: "style.css", rel: "stylesheet" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
  %body
    .container
      .row
        %header
          .col.m12
            %address
              %h1
                Ken Stipek
                %small &bull; Web Application Developer
        %aside.col.l4.m12
          %ul.contact
            %li
              %a{ href: 'tel:3602246691' }
                %i.material-icons.tiny phone
                360.224.6691
            %li
              %a{ href: 'mailto:ken@kenstipek.com' }
                %i.material-icons.tiny email
                ken@kenstipek.com
          %section.row.skills
            .col.s12
              %h2 Skills
              %ul
                %li Solved business problems with technologies up and down the stack, including third-party solutions.
                %li Understands that recruitment is of utmost importance, and have invested time in developing the required skills.
                %li Led a variety of teams, and know how to solve business problems across disciplines, not just with code.
                %li Software design, planning, and specification writing.
                %li Experience with videography, photography, and image editing.
          %section
            .col.s12
              %h2 Education
            .row
              %img{ src: 'images/western.png', alt: 'Western Washington University', title: 'Western Washington University', class: 'col m4 hide-on-small-only' }
              .col.m8
                %strong Western Washington University
              .col.m11
                .left Bellingham, WA
                %small.right 2007 - 2009
              .col.m12
                Bachelor of Science in Computer Science
            .row
              %img{ src: 'images/ecola.png', alt: 'Ecola Bible School', title: 'Ecola Bible School', class: 'col m4 hide-on-small-only' }
              .col.m8
                %strong Ecola Bible School
              .col.m11
                .left Cannon Beach, OR
                %small.right 2004 - 2005
              .col.m12
                Diploma in Biblical Studies
            .row
              %img{ src: 'images/cascadia.png', alt: 'Cascadia College', title: 'Cascadia College', class: 'col m4 hide-on-small-only' }
              .col.m8
                %strong Cascadia College
              .col.m11
                .left Bothell, WA
                %small.right 2002 - 2004
              .col.m12
                Associate of Science in Computer Science
        %main.col.l8.m12
          .row
            %article
              %section
                .valign-wrapper
                  %img{ src: 'images/kaleo.png', class: 'col s1 valign hide-on-small-only' }
                  .col.m11.s12
                    %h2
                      Kaleo Software
                      %small.right
                        Software Engineer &bull; 2015 - 2016
                %p Kaleo is "Stackoverflow" for the enterprise. With single sign on support and automatic question routing Kaleo is the best Q/A software for enterprises.
                %ul
                  %li Developed a single page application using ReactJS, Redux, and ReactRouter 
                  %li Leveraged IBM's Watson technology, via their web API, to help route new questions to customer's experts
                  %li Instrumental in designing and building the REST API using Grape 
                  %li Developed features, maintained, and fixed bugs for the legacy, monolithic Rails application
                  %li Interviewed, hired, and trained new developers
                %h4 Technologies
                .chip
                  %img{ src: 'images/ruby-on-rails.png', alt: 'Ruby on Rails', title: 'Ruby on Rails', class: 'hide-on-small-only' }
                  Ruby on Rails
                .chip
                  %img{ src: 'images/ruby.png', alt: 'Ruby', title: 'Ruby', class: 'hide-on-small-only' }
                  Ruby
                .chip
                  %img{ src: 'images/reactjs.png', alt: 'ReactJS', title: 'ReactJS' , class: 'hide-on-small-only' }
                  ReactJS
                .chip
                  %img{ src: 'images/redux.png', alt: 'Redux', title: 'Redux', class: 'hide-on-small-only' }
                  Redux
                .chip
                  %img{ src: 'images/material.png', alt: 'Material UI', title: 'Material UI', class: 'hide-on-small-only' }
                  Material UI
                .chip
                  %img{ src: 'images/javascript.png', alt: 'Javascript', title: 'Javascript', class: 'hide-on-small-only' }
                  Javascript
                .chip
                  %img{ src: 'images/jquery.png', alt: 'jQuery', title: 'jQuery', class: 'hide-on-small-only' }
                  jQuery
                .chip
                  %img{ src: 'images/coffeescript.png', alt: 'CoffeeScript', title: 'CoffeeScript', class: 'hide-on-small-only' }
                  CoffeeScript
                .chip
                  %img{ src: 'images/es6.png', alt: 'ES6', title: 'ES6', class: 'hide-on-small-only' }
                  ES6
                .chip
                  %img{ src: 'images/haml.png', alt: 'HAML', title: 'HAML', class: 'hide-on-small-only' }
                  HAML
                .chip
                  %img{ src: 'images/sass.png', alt: 'SASS', title: 'SASS', class: 'hide-on-small-only' }
                  SASS
                .chip
                  %img{ src: 'images/postgresql.png', alt: 'PostgreSQL', title: 'PostgreSQL', class: 'hide-on-small-only' }
                  PostgreSQL
                .chip
                  %img{ src: 'images/redis.png', alt: 'Redis', title: 'Redis', class: 'hide-on-small-only' }
                  Redis
                .chip
                  %img{ src: 'images/git.png', alt: 'Git', title: 'Git', class: 'hide-on-small-only' }
                  Git
                .chip
                  %img{ src: 'images/amazon-echo.png', alt: 'Amazon Echo', title: 'Amazon Echo', class: 'hide-on-small-only' }
                  Amazon Echo
                .chip
                  %img{ src: 'images/aws.png', alt: 'Amazon Web Services', title: 'Amazon Web Services', class: 'hide-on-small-only' }
                  Amazon Web Services
                .chip
                  %img{ src: 'images/ibm-watson.png', alt: 'IBM Watson', title: 'IBM Watson', class: 'hide-on-small-only' }
                  IBM Watson
                .chip
                  %img{ src: 'images/elasticsearch.png', alt: 'Elasticsearch', title: 'Elasticsearch', class: 'hide-on-small-only' }
                  Elasticsearch
              %hr
              %section
                .valign-wrapper
                  %img{ src: 'images/brivity.png', class: 'col s1 valign hide-on-small-only' }
                  .col.m11.s12
                    %h2
                      Brivity
                      %small.right
                        Technical Product Manager &bull; 2012 - 2015
                %p Brivity offers online real estate listings and tools for real estate professionals, but it generated no income initially. I drove it to expand and bring in over $60,000 in monthly recurring revenue.
                %ul
                  %li Rebuilt online system, developing a simple task manager into an entire CRM system with automatic client communication and lead generation
                  %li Led development, sales, marketing, and support teams
                  %li Made day-to-day product, team, and business decisions
                %h4 Technologies
                .chip
                  %img{ src: 'images/ruby-on-rails.png', alt: 'Ruby on Rails', title: 'Ruby on Rails', class: 'hide-on-small-only' }
                  Ruby on Rails
                .chip
                  %img{ src: 'images/ruby.png', alt: 'Ruby', title: 'Ruby', class: 'hide-on-small-only' }
                  Ruby
                .chip
                  %img{ src: 'images/javascript.png', alt: 'Javascript', title: 'Javascript', class: 'hide-on-small-only' }
                  Javascript
                .chip
                  %img{ src: 'images/coffeescript.png', alt: 'CoffeeScript', title: 'CoffeeScript', class: 'hide-on-small-only' }
                  CoffeeScript
                .chip
                  %img{ src: 'images/jquery.png', alt: 'jQuery', title: 'jQuery', class: 'hide-on-small-only' }
                  jQuery
                .chip
                  %img{ src: 'images/haml.png', alt: 'HAML', title: 'HAML', class: 'hide-on-small-only' }
                  HAML
                .chip
                  %img{ src: 'images/sass.png', alt: 'SASS', title: 'SASS', class: 'hide-on-small-only' }
                  SASS
                .chip
                  %img{ src: 'images/bootstrap.png', alt: 'Bootstrap', title: 'Bootstrap', class: 'hide-on-small-only' }
                  Bootstrap
                .chip
                  %img{ src: 'images/postgresql.png', alt: 'PostgreSQL', title: 'PostgreSQL', class: 'hide-on-small-only' }
                  PostgreSQL
                .chip
                  %img{ src: 'images/redis.png', alt: 'Redis', title: 'Redis', class: 'hide-on-small-only' }
                  Redis
                .chip
                  %img{ src: 'images/git.png', alt: 'Git', title: 'Git', class: 'hide-on-small-only' }
                  Git
                .chip
                  %img{ src: 'images/sinatra.png', alt: 'Sinatra', title: 'Sinatra', class: 'hide-on-small-only' }
                  Sinatra
                .chip
                  %img{ src: 'images/aws.png', alt: 'Amazon Web Services', title: 'Amazon Web Services', class: 'hide-on-small-only' }
                  Amazon Web Services
              %hr
              %section
                .valign-wrapper
                  %img{ src: 'images/theo-wanne.png', class: 'col s1 valign hide-on-small-only' }
                  .col.m11.s12
                    %h2
                      Theo Wanne
                      %small.right
                        Media and I.T. Director &bull; 2010 - 2012
                %p I created the official e-commerce website for this saxophone manufacturer, which handles a wide range of specialty parts for world-class musicians.
                %ul
                  %li Built main website using Ruby on Rails and RefineryCMS and Shopify to create the e-commerce site
                  %li Took, edited, and posted photographs of products for e-commerce website
                  %li Wrote and produced videos to demonstrate products and build the company's brand identity
                  %li Developed print advertising campaigns and company brochures
                  %li Wrote and designed product packaging
                %h4 Technologies
                .chip
                  %img{ src: 'images/ruby-on-rails.png', alt: 'Ruby on Rails', title: 'Ruby on Rails', class: 'hide-on-small-only' }
                  Ruby on Rails
                .chip
                  %img{ src: 'images/ruby.png', alt: 'Ruby', title: 'Ruby', class: 'hide-on-small-only' }
                  Ruby
                .chip
                  %img{ src: 'images/javascript.png', alt: 'Javascript', title: 'Javascript', class: 'hide-on-small-only' }
                  Javascript
                .chip
                  %img{ src: 'images/coffeescript.png', alt: 'CoffeeScript', title: 'CoffeeScript', class: 'hide-on-small-only' }
                  CoffeeScript
                .chip
                  %img{ src: 'images/jquery.png', alt: 'jQuery', title: 'jQuery', class: 'hide-on-small-only' }
                  jQuery
                .chip
                  %img{ src: 'images/haml.png', alt: 'HAML', title: 'HAML', class: 'hide-on-small-only' }
                  HAML
                .chip
                  %img{ src: 'images/sass.png', alt: 'SASS', title: 'SASS', class: 'hide-on-small-only' }
                  SASS
                .chip
                  %img{ src: 'images/bootstrap.png', alt: 'Bootstrap', title: 'Bootstrap', class: 'hide-on-small-only' }
                  Bootstrap
                .chip
                  %img{ src: 'images/postgresql.png', alt: 'PostgreSQL', title: 'PostgreSQL', class: 'hide-on-small-only' }
                  PostgreSQL
                .chip
                  %img{ src: 'images/redis.png', alt: 'Redis', title: 'Redis', class: 'hide-on-small-only' }
                  Redis
                .chip
                  %img{ src: 'images/git.png', alt: 'Git', title: 'Git', class: 'hide-on-small-only' }
                  Git
                .chip
                  %img{ src: 'images/shopify.png', alt: 'Shopify', title: 'Shopify', class: 'hide-on-small-only' }
                  Shopify
                .chip
                  %img{ src: 'images/photoshop.png', alt: 'Photoshop', title: 'Photoshop', class: 'hide-on-small-only' }
                  Photoshop
                .chip
                  %img{ src: 'images/in-design.png', alt: 'InDesign', title: 'InDesign', class: 'hide-on-small-only' }
                  InDesign
    %script{ src: "https://code.jquery.com/jquery-2.1.1.min.js", type: "text/javascript" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js", type: "text/javascript" }