address {
  font-style: normal;
  ul li {
    font-size: 0.8em;
    padding-right: 2em;
    display: block;
    float: left;
  }
}

.contact {
  font-size: 8px;
}

article, section.skills {
  ul li {
    list-style-type: circle;
    margin-left: 1em;
    margin: 0 0 0.5em 1em;
    padding: 0;
  }
}

.chip {
  border: 1px dotted #e4e4e4;
  background-color: white;
  overflow: hidden;
}

a {
  color: black;
  font-size: 0.9em;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0.3em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

hr {
  margin: 1.5em 0 0.5em 0;
  border: none;
  border-bottom: 1px dotted #e4e4e4;
}